<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
id="IslamicPushFiles.smartselwady.com"
version="1.0">

  <name>IslamicPushFiles</name>

  <description>
    IslamicPushFiles Plugin By Smarts Elwady
  </description>

  <license>IslamicPushFiles Plugin</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  
  <js-module name="IslamicPushFiles" src="www/IslamicPushFiles.js">
    <merges target="IslamicPushFiles.smartselwady.com"/>
  </js-module>

<platform name="ios">

    <config-file parent="/*" target="config.xml">
      <feature name="IslamicPushFiles">
        <param name="ios-package" value="IslamicPushFiles"/>
      </feature>
    </config-file>
	
	<source-file src="src/ios/push1.mp3" target-dir="/*" />
	<source-file src="src/ios/push2.mp3" target-dir="/*" />
	<source-file src="src/ios/push3.mp3" target-dir="/*" />
	<source-file src="src/ios/push4.mp3" target-dir="/*" />
	<source-file src="src/ios/push5.mp3" target-dir="/*" />
	<source-file src="src/ios/push6.mp3" target-dir="/*" />
	<source-file src="src/ios/push7.mp3" target-dir="/*" />
	<source-file src="src/ios/push8.mp3" target-dir="/*" />
	<source-file src="src/ios/push9.mp3" target-dir="/*" />
	<source-file src="src/ios/push10.mp3" target-dir="/*" />
	<source-file src="src/ios/push11.mp3" target-dir="/*" />
	<source-file src="src/ios/push12.mp3" target-dir="/*" />
	<source-file src="src/ios/push13.mp3" target-dir="/*" />
	<source-file src="src/ios/push14.mp3" target-dir="/*" />

</platform>


</plugin>